$logo-images: (
  inline: svg-url('<svg width="173" height="220" viewBox="0 0 173 220" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="-16%" y1="25.2%" x2="56.7%" y2="81%" id="a"><stop stop-color="#04C4C9" offset="0%"/><stop stop-color="#A6A6FF" offset="100%"/></linearGradient></defs><path d="M172.642 99.677v65.351l-1.881 1.288a213.529 213.529 0 0 1-19.456 11.822l-1.12.56v-3.454l.398-.212c5.688-3.051 11.73-6.718 18.476-11.27l.56-.38v-60.67H65.504v25.336h75.834v19.262l-.29.224c-8.567 6.533-25.195 14.163-43.827 14.163a66.002 66.002 0 0 1-44.88-17.913C39.392 131.552 32.26 114.568 32.26 96.01c0-18.558 7.132-35.508 20.082-47.745a66.025 66.025 0 0 1 44.88-17.914c18.386 0 34.46 6.399 49.145 19.593l.89.784 18.61-18.356.588-.56-.873-.901c-17.95-18.513-41.19-27.861-69.077-27.861-52.404 0-93.46 40.831-93.46 92.96 0 31.393 15.308 60.312 40.944 77.347l.33.224v3.778l-1.153-.739a96.402 96.402 0 0 1-14.198-11.162C10.29 147.658 0 122.993 0 96.011c0-26.983 10.285-51.642 28.957-69.415C46.94 9.438 70.93 0 96.505 0c28.75 0 52.728 9.662 71.271 28.723l2.985 3.068-23.397 23.07-3.024-2.71c-14.12-12.64-29.533-18.782-47.118-18.782-30.435 0-61.917 23.428-61.917 62.636s31.482 62.641 61.917 62.641c16.796 0 31.951-6.443 40.54-12.472l.526-.375v-14.7h-75.8V99.677h110.154zM62.487 60.38v31.427H172.44V60.402L62.487 60.38zm106.935 28.353H65.532V63.436h103.862l.028 25.297zm-106.067 81.49L55.382 216.4h23.79l-.37 2.9h-26.89l8.498-49.078h2.945zm29.64-.66a2.066 2.066 0 0 1 1.668.8c.413.49.583 1.14.465 1.769a2.8 2.8 0 0 1-2.593 2.205 2.144 2.144 0 0 1-1.651-.795 2.088 2.088 0 0 1-.454-1.735c.11-.6.422-1.143.885-1.54a2.436 2.436 0 0 1 1.68-.705zM83.14 219.3l6.32-36.762h2.912l-6.32 36.762H83.14zm54.962-33.212c-2.144-2.8-5.14-4.205-8.907-4.205-2.799 0-5.54.794-7.906 2.29a19.88 19.88 0 0 0-6.326 6.572 25.234 25.234 0 0 0-3.449 9.197l-.269 1.68a19.73 19.73 0 0 0 .728 8.973 13.995 13.995 0 0 0 4.653 6.841 12.273 12.273 0 0 0 7.726 2.52 16.058 16.058 0 0 0 12.68-5.895l.382-.443-2.038-1.584-.353.347c-3.124 3.107-6.674 4.68-10.548 4.68h-.151a9.317 9.317 0 0 1-6.752-2.659 12.37 12.37 0 0 1-3.443-7.199 16.932 16.932 0 0 1 0-5.396l.28-1.484h25.91l.37-2.58.1-1.036c.348-4.3-.565-7.865-2.687-10.62zm-.33 11.307h-22.826a22.184 22.184 0 0 1 5.56-8.956 12.352 12.352 0 0 1 8.689-3.65 8.09 8.09 0 0 1 5.733 2.183 9.897 9.897 0 0 1 2.911 5.9c.226 1.501.204 3.03-.067 4.523zm-30.367 19.37l.593-.09.112 2.732-.437.112a14.978 14.978 0 0 1-3.734.414c-4.014 0-6.226-2.178-6.388-6.31a17.351 17.351 0 0 1 .235-3.543l4.238-24.664h-6.343l.431-2.9h6.433l1.646-9.617h2.95l-1.646 9.617h7.777l-.375 2.9h-7.928l-4.428 25.65-.13 1.757a4.579 4.579 0 0 0 .801 3.118 3.281 3.281 0 0 0 2.671 1.12c.582 0 1.77-.1 3.522-.297z" fill="url(#a)" fill-rule="nonzero"/></svg>'),
  block: svg-url('<svg width="173" height="220" viewBox="0 0 173 220" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="-16%" y1="25.2%" x2="56.7%" y2="81%" id="a"><stop stop-color="#04C4C9" offset="0%"/><stop stop-color="#A6A6FF" offset="100%"/></linearGradient></defs><path d="M172.642 99.677v65.351l-1.881 1.288a213.529 213.529 0 0 1-19.456 11.822l-1.12.56v-3.454l.398-.212c5.688-3.051 11.73-6.718 18.476-11.27l.56-.38v-60.67H65.504v25.336h75.834v19.262l-.29.224c-8.567 6.533-25.195 14.163-43.827 14.163a66.002 66.002 0 0 1-44.88-17.913C39.392 131.552 32.26 114.568 32.26 96.01c0-18.558 7.132-35.508 20.082-47.745a66.025 66.025 0 0 1 44.88-17.914c18.386 0 34.46 6.399 49.145 19.593l.89.784 18.61-18.356.588-.56-.873-.901c-17.95-18.513-41.19-27.861-69.077-27.861-52.404 0-93.46 40.831-93.46 92.96 0 31.393 15.308 60.312 40.944 77.347l.33.224v3.778l-1.153-.739a96.402 96.402 0 0 1-14.198-11.162C10.29 147.658 0 122.993 0 96.011c0-26.983 10.285-51.642 28.957-69.415C46.94 9.438 70.93 0 96.505 0c28.75 0 52.728 9.662 71.271 28.723l2.985 3.068-23.397 23.07-3.024-2.71c-14.12-12.64-29.533-18.782-47.118-18.782-30.435 0-61.917 23.428-61.917 62.636s31.482 62.641 61.917 62.641c16.796 0 31.951-6.443 40.54-12.472l.526-.375v-14.7h-75.8V99.677h110.154zM62.487 60.38v31.427H172.44V60.402L62.487 60.38zm106.935 28.353H65.532V63.436h103.862l.028 25.297zm-106.067 81.49L55.382 216.4h23.79l-.37 2.9h-26.89l8.498-49.078h2.945zm29.64-.66a2.066 2.066 0 0 1 1.668.8c.413.49.583 1.14.465 1.769a2.8 2.8 0 0 1-2.593 2.205 2.144 2.144 0 0 1-1.651-.795 2.088 2.088 0 0 1-.454-1.735c.11-.6.422-1.143.885-1.54a2.436 2.436 0 0 1 1.68-.705zM83.14 219.3l6.32-36.762h2.912l-6.32 36.762H83.14zm54.962-33.212c-2.144-2.8-5.14-4.205-8.907-4.205-2.799 0-5.54.794-7.906 2.29a19.88 19.88 0 0 0-6.326 6.572 25.234 25.234 0 0 0-3.449 9.197l-.269 1.68a19.73 19.73 0 0 0 .728 8.973 13.995 13.995 0 0 0 4.653 6.841 12.273 12.273 0 0 0 7.726 2.52 16.058 16.058 0 0 0 12.68-5.895l.382-.443-2.038-1.584-.353.347c-3.124 3.107-6.674 4.68-10.548 4.68h-.151a9.317 9.317 0 0 1-6.752-2.659 12.37 12.37 0 0 1-3.443-7.199 16.932 16.932 0 0 1 0-5.396l.28-1.484h25.91l.37-2.58.1-1.036c.348-4.3-.565-7.865-2.687-10.62zm-.33 11.307h-22.826a22.184 22.184 0 0 1 5.56-8.956 12.352 12.352 0 0 1 8.689-3.65 8.09 8.09 0 0 1 5.733 2.183 9.897 9.897 0 0 1 2.911 5.9c.226 1.501.204 3.03-.067 4.523zm-30.367 19.37l.593-.09.112 2.732-.437.112a14.978 14.978 0 0 1-3.734.414c-4.014 0-6.226-2.178-6.388-6.31a17.351 17.351 0 0 1 .235-3.543l4.238-24.664h-6.343l.431-2.9h6.433l1.646-9.617h2.95l-1.646 9.617h7.777l-.375 2.9h-7.928l-4.428 25.65-.13 1.757a4.579 4.579 0 0 0 .801 3.118 3.281 3.281 0 0 0 2.671 1.12c.582 0 1.77-.1 3.522-.297z" fill="url(#a)" fill-rule="nonzero"/></svg>'),
) !default;
$logo-sizes: (
  small: (width: 92px, height: rhythm(1.5)),
  medium: (width: 124px, height: rhythm(2.5)),
  large: (width: 173px, height: rhythm(11)),
) !default;
$logo-block-sizes: (
  small: (width: 173px, height: rhythm(11)),
  medium: (width: 173px, height: rhythm(11)),
  large: (width: 173px, height: rhythm(11)),
) !default;

$logo-margin: 0 !default;
$logo-padding: 0 !default;
$logo-background: (
  image: map-get($logo-images, 'inline'),
  color: transparent,
  repeat: no-repeat,
  position: center left,
  size: contain
) !default;



@mixin logo-size($size: medium, $type: inline) {
  @if $type == 'block' {
    width: map-get(map-get($logo-block-sizes, $size), width);
    height: map-get(map-get($logo-block-sizes, $size), height);
    min-height: map-get(map-get($logo-block-sizes, $size), height);
  }
  @else {
    width: map-get(map-get($logo-sizes, $size), width);
    height: map-get(map-get($logo-sizes, $size), height);
    min-height: map-get(map-get($logo-sizes, $size), height);
  }
}


.#{$namespace}-logo {
  @include logo-size(medium);
  @include set-background($logo-background);

  margin: $logo-margin;
  padding: $logo-padding;

  &__text {
    display: none;
  }

  &--block {
    @include logo-size(medium, 'block');
    background-image: map-get($logo-images, 'block');
  }

  &--small {
    @include logo-size(small);
  }

  &--large {
    @include logo-size(large);
  }
}


.#{$namespace}-logo--block {
  &.#{$namespace}-logo--small {
    @include logo-size(small, 'block');
  }

  &.#{$namespace}-logo--large {
    @include logo-size(large, 'block');
  }
}
