$password-padding: 0 !default;
$password-input-padding: 34px !default;
$password-icon-color: map-get($text-colors, 'dark') !default;
$password-transition: color .15s ease-in-out 0s !default;


.#{$namespace}-password {
  display: inline-block;
  position: relative;
  padding: $password-padding;

  .#{$namespace}-input {
    margin: 0;
  }

  &--full {
    width: 100%;
  }

  &--toggle {
    .#{$namespace}-input {
      padding-right: $password-input-padding;
    }

    .#{$namespace}-icon {
      position: absolute;
      right: 10px;
      height: 100%;
      margin: 0;
      color: $password-icon-color;
      transition: $password-transition;
      will-change: color;

      &:hover {
        z-index: 1;

        &:not([disabled]),
        &:not([aria-disabled='true']) {
          color: map-get($text-colors, bright);
        }
      }
    }
  }
}
