$button-group-height: rhythm(2);
$button-group-margin: 0;
$button-group-spacing: 12px;
$button-group-small-height: rhythm(1.5);
$button-group-large-height: rhythm(2.5);
$button-group-border-radius: $default-border-radius;
