$input-group-radius: 4px;

$input-group-prefix-size: rhythm(1.75);
$input-group-prefix-top: 0;
$input-group-prefix-bottom: 0;
$input-group-prefix-left: 0;
$input-group-prefix-padding: rhythm(1.75);

$input-group-sufix-size: rhythm(1.75);
$input-group-sufix-top: 0;
$input-group-sufix-right: 0;
$input-group-sufix-bottom: 0;
$input-group-sufix-padding: rhythm(1.75);
