$modal-backdrop-background: (
  color: rgba(0,0,0,0.2),
  image: radial-gradient(circle, rgba(46,50,53,0.35) 0%, rgba(0,0,0,0.6) 100%),
);

$modal-sizes: (
  small: 400px,
  medium: 500px,
  large: 600px
);
$modal-margin: 0 auto;
$modal-padding: (rhythm(1) rhythm(1.5) rhythm(1) rhythm(1.5));
$modal-spacing: rhythm(1.5);
$modal-border: (
  width: 1px,
  style: solid,
  color: transparent,
  radius: 8px,
);
$modal-background: (
  color: color('grey'),
  clip: padding-box,
);
$modal-shadow: 0 2px 6px 0 rgba(0,0,0, .3);
$modal-transition: transform .3s ease-out;

$modal-header-height: rhythm(3);
$modal-header-padding: rhythm(1.5) rhythm(1.5) rhythm(.5) rhythm(1.5);
$modal-header-background: none;

$modal-footer-height: rhythm(3);
$modal-footer-padding: rhythm(.375) rhythm(1);
$modal-footer-background: (
  color: map-get($background-colors, 'control'),
);

$modal-title-margin: 0 0 rhythm(1) 0;
$modal-title-font-size: map-get($font-sizes, 'h2');
$modal-title-font-weight: normal;

$modal-close: (
  size: rhythm(1),
  top: rhythm(1.5),
  right: rhythm(1.5),
  border: none,
  icon: (
    image: svg-url('<svg width="10" height="10" fill="#{color('gray')}" fill-rule="evenodd" xmlns="http://www.w3.org/2000/svg"><path d="M8.993 0L5 3.993 1.007 0 0 1.007 3.993 5 0 8.993 1.007 10 5 6.007 8.993 10 10 8.993 6.007 5 10 1.007z"/></svg>'),
    size: 12px,
    repeat: no-repeat,
    position: center center,
    color: transparent,
  )
);

$modal-backdrop-z-index: 1040;
$modal-z-index: 1050;

$modal-full-size: calc(100% - #{$modal-spacing});


@include responsive('small') {
  .#{$namespace}-modal {
    & &--small,
    & &--medium,
    & &--large {
      width: $modal-full-size;
    }
  }
}
