$sidebar-backdrop-background: (
  color: rgba(0, 0, 0, .5),
);

$sidebar-width: 340px;
$sidebar-margin: 0;
$sidebar-padding: rhythm(1);
$sidebar-border: none;
$sidebar-background: (
  color: map-get($background-colors, body),
  clip: padding-box,
);
$sidebar-shadow: none;
$sidebar-transition: all .15s ease-in-out;

$sidebar-backdrop-z-index: 1010;
$sidebar-z-index: 1020;
